.nav-link {
    color: #fff !important;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.selected {
    color: #000 !important;
}

@media (max-width: 767px){
    .nav-stuff {
        background-color: steelblue;
    }
}