.nav-link {
    color: #fff !important;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.selected {
    color: #000 !important;
}
.initials {
    border-radius: 50%;
    background: blue;
    padding: 5px;
}